{% load static %}
<script src="{% static 'core/js/lib/alpine-3.14.1.min.js' %}" defer></script>
<!-- main.js MUST NOT be deferred so it registers `alpine:init` before Alpine runs -->

<script>
  // ✅ ensure Alpine always starts
  window.deferLoadingAlpine = function (callback) {
    callback();
    window.Alpine.start();
  };
</script>

<script src="{% static 'core/js/main.js' %}"></script>

{% block scripts %}{% endblock %}

{% if debug %}
  <script src="{% url 'django_browser_reload:reload' %}" defer></script>
{% endif %}
