{# users/templates/registration/password_reset_form.html #}
{% extends "core/base.html" %}
{% load cotton form_extras %}

{% block content %}
<div class="min-h-[calc(100vh-8rem)] flex items-start justify-center pt-24">
  {% c card class="w-full max-w-md" %}
    {% c card/header %}
      {% c card/title %}Reset your password{% endc %}
      {% c card/description %}Enter your email. If it exists, we’ll send a reset link.{% endc %}
    {% endc %}

    {% c card/content %}
      <form method="post" novalidate class="space-y-4">
        {% csrf_token %}
        {% include "core/forms/non_field_errors.html" with form=form %}

        {% include "core/forms/field.html" with field=form.email autocomplete="email" placeholder="Email address" %}

        <div class="pt-2">
          <c-button variant="default" size="lg" class="w-full">Send reset link</c-button>
        </div>
      </form>
    {% endc %}
  {% endc %}
</div>
{% endblock %}
